@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Nunito&display=swap');

.nav{
    display: inline;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;  
    justify-content: center; 
   height: 6rem;
    background-color: #f7d5ae;
    width: 100%;
    
}

.button{
    margin: 2rem;
    padding: 1.5rem;
    background-color:transparent;
    color: #e00b5b;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        height: fit-content; /* Ajusta la altura según sea necesario */
      position: absolute;
    }

    .button {
        margin: 1rem;
       
        font-size: 16px;
    }
}